- showing = action_name == 'show'
= link_to 'Back', root_path, :class => 'back' if showing
%article.preview.event
  %h3.title= showing ? event.title : link_to(event.title, event_path(event))
  %div.desc
    :markdown
      #{event.content}
  %p.more= link_to 'Read more', event if !showing