%section.desc
  :markdown
    #{@editpage.content}

%section
  %h2.title.blue-title Our past events...

  = render @events
  = will_paginate @events

  %p.suscribe-home
    %a.cta{:href=> "http://eepurl.com/u0LCj"} Subscribe to our Mailing List