.home-container.about
  %h1.headline ABOUT

  %p The Hybrid Group started KidsCodeCamp in 2012 to provide kids of all ages a place (free of charge) to learn how to code on computers. A one-day event, the students are provided lunch and hours of great classes, taught by volunteer leaders from many different types of programming backgrounds - from web development to game programming!  

  %p Here is how KidsCodeCamp works:
 
  %ol
    %li Local volunteers will run classes intended for a particular age group (elementary, middle, or high-school age kids). Each class is from 1 to 2 hours long.
     
    %li Kids register for free, just so everyone knows how many people will be coming.
     
    %li Everyone has fun on the day of KidsCodeCamp!
     
  %p ***** YOU MUST BRING A PORTABLE COMPUTER TO ATTEND! Does not matter which kind, PC or MAC... SORRY NO iPADS/iPODS. *****