.home-container.about
  %h1.headline ABOUT

  %p.subheadline "Have you ever wanted to make a videogame, program a robot, or create a web site? Now you can! 

  %p Come to KidsCodeCamp, a free one-day event to learn how to use computers and technology to make things that do whatever you want.  

  %p Here is how KidsCodeCamp works:
 
  %ol
    %li Local volunteers will run classes intended for a particular age group (elementary, middle, or high-school age kids). Each class is from 1 to 2 hours long.
     
    %li Kids register for free, just so everyone knows how many people will be coming.
     
    %li Everyone has fun on the day of KidsCodeCamp!
     
  %p***** YOU MUST BRING A PORTABLE COMPUTER TO ATTEND! Does not matter which kind, PC or MAC... SORRY NO iPADS/iPODS. *****"