.content
  .home-container

    %h1.headline COMMUNITY
    %br
    %h3 Selvage intelligentsia incididunt umami put a bird on it pug id reprehenderit. Austin pitchfork vegan tumblr readymade.
    %br
    %p Gluten-free trust fund quis, kogi banjo ullamco wolf food truck small batch scenester. Hoodie mlkshk aliquip nisi try-hard. Thundercats pinterest etsy, seitan meh kogi narwhal cardigan sint eu nulla shoreditch blog. Sapiente incididunt flexitarian marfa. Incididunt carles echo park shoreditch ethical do bushwick, occupy forage iphone tousled et banjo swag vegan. Ennui etsy 90's quis semiotics bespoke synth 8-bit, cupidatat aliquip street art adipisicing 3 wolf moon ex. Nisi four loko sed ad.
    %br
    =link_to "REGISTER", new_user_registration_path, :class => "contact-submit"
    =link_to "LOG IN", new_user_session_path, :class => "contact-submit"
