.home-container

  %section.news
    %h1 Alpha 6: March 9, 2013 in Bend, OR @ (TBA)
    %p Our sixth alpha version of KidsCodeCamp will be taking place on March 9th in Bend, OR in participation with Ruby on Ales 2013.

    %p Stay Tuned for Details!

  %section.news
    %h1 Alpha 5: February 24, 2013 in Santa Monica, CA @ Real Office Centers (ROC)
    %p Our fifth alpha version of KidsCodeCamp will be taking place on February 24 in Santa Monica, CA in participation with LA Ruby Conf 2013.

    %p
      To register a student, or as a mentor/helper, please signup <a href="http://kidscodecamp-larubyconf2013.eventbrite.com">here</a>.
    %p See you there!

  %section.news
    %h1 What Is KidsCodeCamp?
    %p Here is how KidsCodeCamp works:

    %p Local volunteers will run hands-on classes intended for a particular age group (elementary, middle, or high-school age kids). Each class is from 1 to 2 hours long.

    %p Kids register for free, just so everyone knows how many people will be coming.

    %p Everyone has fun on the day of KidsCodeCamp!



  %section.news
    %h1#subheadline Our past events...
  

  %section.news
    %h1 Alpha 4: November 4 in Denver, CO @ RubyConf
    %p Our fourth alpha version of KidsCodeCamp took place on November 4 in Denver, Colorado, in participation with RubyConf 2012.

    %p
      For more information please visit: 
      %br <a href="http://kidscodecamp-rubyconf2012.eventbrite.com">http://kidscodecamp-rubyconf2012.eventbrite.com</a>.

    %p See you there!

  %section.news
    %h1 Alpha 3: May 20 in Minneapolis, Minnesota @ JRubyConf - SOLD OUT!!
    %p Our third alpha version of KidsCodeCamp took place on May 20 in Minneapolis, Minnesota, in participation with JRubyConf 2012.

    %p
      We sold out the event. For more information, please visit: <a href="http://kidscodecampmn.eventbrite.com">http://kidscodecampmn.eventbrite.com</a>.

  %section.news
    %h1 Alpha 2: May 19 in Pasadena, California @ the Pasadena STEM Expo
    %p Our second alpha version of KidsCodeCamp took place on May 19 in Pasadena, California, in participation with the Pasadena STEM Expo 2012.

    %p
      For more information, please visit: 
      %br <a href='http://kidscodecamp-pasadena2012.eventbrite.com'>http://kidscodecamp-pasadena2012.eventbrite.com</a>.

  %section.news
    %h1 Alpha 1: April 22 in Austin, Texas @ RailsConf - SOLD OUT!!
    %p Our first alpha version of KidsCodeCamp took place on April 22 in Austin, Texas, in participation with RailsConf 2012.

    %p
      We sold out the event. For more information, please visit: <a href="http://kidscodecamp-railsconf2012.eventbrite.com">http://kidscodecamp-railsconf2012.eventbrite.com</a>.

  %section.news
    %a{:href=> "http://eepurl.com/u0LCj"} Subscribe to our Mailing List