.content
  .intro
    %h1 Kids Code Camp
    %h2 Coming Soon...

  %section.mailinglist
    %h1 Thanks For Signing Up For The Email List!

  %section.followus
    Follow Us
    = link_to "@kidscodecamp", "http://www.twitter.com/kidscodecamp", :target => "_blank"

  %section.brought
    Brought to you by:
    = link_to "The Hybrid Group", "http://hybridgroup.com"
    .andfriends
      & Friends


