body {
	font-family:Arial, Helvetica, sans-serif;
}
a {
  @include link-colors(#245dc1);
  @include hover-link;
  font-weight: normal;
}

h1, h2, h3, h4, .title {
  color:#666;
  font-weight:normal;
  line-height:130%;
}

h1, .title1 { margin:24px 0 12px 0;font-size:28px; }
h2, .title2 { margin:20px 0 12px 0;font-size:22px; }
h3, .title3 { margin:16px 0 12px 0;font-size:18px; }
h4, .title4 { margin:16px 0 12px 0;font-size:14px; }

////////////// Forms

form { margin:15px 0 20px; }
.input {
  margin:0 0 8px;

  label {
    display:block;
    margin:0 0 4px;
  }
}

.input.checkbox label { display:inline }
input[type=text],
input[type=password],
textarea, select,
.input input
{
  border:0;
  padding:8px 10px;
  @include box-shadow(0 1px 2px rgba(76, 42, 12, 0.27) inset, 0 1px 0 rgba(255, 255, 255, 0.25));
  font-size:14px;
}

#error_explanation {
  border:#f99 solid 1px;
  background:#fee;
  padding:10px 18px;
  margin:0 0 20px;

  .title { font-size:18px; }
}

///////// Recurrent

.section-title {
  font-family:$f-ranger;
  font-size:36px;
  margin-bottom:25px;
}

.desc {
  p { margin:0 0 18px; }
  li { margin:0 0 12px; }
  ol, ul { margin:15px 0 25px; padding:0 0 0 40px; }
  ol { list-style-type: decimal; }
}

.pagination {
  margin:30px 0;
  text-align:center;
  em, span, a { padding:4px 6px; }
}

.session_links { margin-bottom:15px; }
.session_actions {
  float:right;
  width:50%;
  text-align:right;
}

table {
  width:100%;
  margin:20px 0;

  td,th {
    padding:4px 4px 8px 4px;
  }
}
