.content
  .home-container

    %h1.headline Boards
    %br
    = render :partial => "user_controls"
    
    - @boards.each do |board|
      .lesson-container
        %h3= board.name
        -board.posts.each do |post|
          %h4= link_to post.title, post
      = link_to "New Topic", new_post_path(:board_id => board.id), :class => "contact-submit"
    %br