%article.post
  %h3.title= link_to post.title, post_path(post)
  %div.desc= post.content
  - if action_name == 'show'
    %p= link_to 'Back', posts_path
  - else
    %p.more= link_to 'Read more', post