.content
  .home-container

    %h1.headline TOPIC TITLE
    %br
    - @posts.each do |post|
      .post-container
        -if post.parent == nil
          = render "post", :post => post
    %br
    = link_to "New Topic", new_post_path