// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field.column {
  width: 220px;
  margin-right: 10px;
  float: left;
  margin-bottom: 25px;
}

.field label{
  display: block;
  width: 220px;
  color:  #3f729f;
  float: left;
  font-size: 24px;
  font-family: 'Ranger', Helvetica, Arial, serif;
  margin-bottom: 10px;
}

.field input {
  display: block;
  width: 215px;
  float: left;
  border:none;
  background-color: #f0f0f0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 2px rgba(76, 42, 12, 0.27), 0px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 2px rgba(76, 42, 12, 0.27), 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 2px rgba(76, 42, 12, 0.27), 0px 1px 0px rgba(255, 255, 255, 0.25);
}

#contact_form_message {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  border:none;  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 1px 2px rgba(76, 42, 12, 0.27), 0px 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 2px rgba(76, 42, 12, 0.27), 0px 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 2px rgba(76, 42, 12, 0.27), 0px 1px 0px rgba(255, 255, 255, 0.25);
}

.contact-submit {
  font-family: 'Ranger', Helvetica, Arial, serif;
  color: #ffffff;
  font-size: 24px;
  float: right;
  margin-right: 58px;
  border:none; 
  padding: 5px 30px 5px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow:    0px 2px 4px rgba(0, 0, 0, 0.19);
  box-shadow:         0px 2px 4px rgba(0, 0, 0, 0.19);
  background: #de9a19;
  background: -moz-linear-gradient(top,  #de9a19 0%, #d35d00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de9a19), color-stop(100%,#d35d00));
  background: -webkit-linear-gradient(top,  #de9a19 0%,#d35d00 100%);
  background: -o-linear-gradient(top,  #de9a19 0%,#d35d00 100%);
  background: -ms-linear-gradient(top,  #de9a19 0%,#d35d00 100%);
  background: linear-gradient(to bottom,  #de9a19 0%,#d35d00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de9a19', endColorstr='#d35d00',GradientType=0 );
}