// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-events.a-index .blue-title {
	font-size:18px;
	margin-bottom:30px;
}

.c-events.a-index .content > section {
	margin-bottom:50px;
}