@import "compass";
@import "compass/reset";

$color-blue : #1e527d;
$color-orange : #d35d00;

body {
  background: image-url("bg.png");
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.brought {
  @include pie-clearfix;

  img {
    display: block;
    margin: 0px auto 5px;
  }

  .text {
    color: $color-orange;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.content {
  @include border-radius(10px);
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 3px);

  background: #eeeae6;
  margin: 100px auto 0px;
  padding: 42px;
  text-align: center;
  width: 393px;
}

.followus {
  @include pie-clearfix;

  background-color: #fff;
  margin-bottom: 20px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 3px 80px;

  a {
    color: $color-blue;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    text-decoration: none;
  }

  img {
    float: left;
    margin-right: 8px;
  }

  span {
    color: $color-orange;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 6px;
    padding: 2px 0px;
  }
}

.intro {
  h1 {
    background: image-url("logo.png") no-repeat;
    display: block;
    height: 142px;
    margin: 0px auto 20px;
    text-indent: -9999px;
    width: 339px;
  }

  h2 {
    color: #1e527d;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.mailinglist {
  form {
    margin-bottom: 10px;

    input[type="text"] {
      @include border-radius(8px);
      @include box-shadow(rgba(0, 0, 0, 0.35) 0px 1px 2px inset);

      border: none;
      display: block;
      margin-bottom: 10px;
      padding: 10px 20px;
      width: 342px;
    }
  }

  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.nextevent {
  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

.howitworks {
  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}
