@import "compass";
@import "compass/reset";

$color-blue : #1e527d;
$color-orange : #d35d00;

body {
  background: image-url("bg.png");
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.created {
  @include pie-clearfix;

  img {
    display: block;
    margin: 0px auto 20px;
  }

  .text {
    color: $color-orange;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.brought {
  @include pie-clearfix;

  img {
    display: block;
    margin: 0px auto 5px;
  }

  .text {
    color: $color-orange;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.content {
  @include border-radius(10px);
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 3px);
  @include pie-clearfix;

  background: #ffffff;
  margin: 250px auto 0px;
  padding: 0px;
  width: 940px;
}

.followus {
  @include pie-clearfix;

  background-color: #fff;
  margin-bottom: 20px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 3px 80px;

  a {
    color: $color-blue;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    text-decoration: none;
  }

  img {
    float: left;
    margin-right: 8px;
  }

  span {
    color: $color-orange;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 6px;
    padding: 2px 0px;
  }
}

.intro {
  h1 {
    background: image-url("logo.png") no-repeat;
    display: block;
    height: 142px;
    margin: 0px auto 20px;
    text-indent: -9999px;
    width: 339px;
  }

  h2 {
    color: #1e527d;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.mailinglist {
  form {
    margin-bottom: 10px;

    input[type="text"] {
      @include border-radius(8px);
      @include box-shadow(rgba(0, 0, 0, 0.35) 0px 1px 2px inset);

      border: none;
      display: block;
      margin-top: 20px;
      margin-left: 30px;
      padding: 10px 20px;
      width: 140px;
      float: left;
    }

    input[type="image"] {
      margin-top: 16px;
    }
  }

  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.nextevent {
  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

.howitworks {
  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

.header {
  position: relative;
}

.header_logo {
  position: absolute;
  top:50px;
  left:479px;
  z-index:1;
}

.header_sun {
  position: absolute;
  top:110px;
  left:515px;
  z-index:2;
}

.menu_bar {
  position: absolute;
  top:226px;
  left:147px;
  z-index:0;
}

.home-container {
  padding: 80px 60px 20px 60px;
  line-height: 130%;
  width: 500px;
  float: left;
}

.sidebar-container {
  background: image-url("sidebar_bg.png") repeat-y;
  padding-top: 30px;
  width: 310px;
  float: right;
}

.news {
  h1 {
    color: $color-orange;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    color: $color-blue;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 50px;
  }
}

.social-box {
  @include border-radius(5px);
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 3px);
  @include pie-clearfix;

  background: #F7E9DB;
  margin: 25px auto 0px;
  padding: 0px;
  text-align: center;
  width: 280px;
}

.newsletter-text {
  color: #F7E9DB;
  text-align: justify;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 130%;
}

.twitter-container {
  background: image-url("twitter_bg.png") repeat-y;
  width: 316px;
  float: right;
  margin-top: 16px;
}

.twitter-title {
  color: #FFFFFF;
  text-align: justify;
  font-size: 14px;
  padding: 30px;
}

#tweets {
  margin-left: 25px;
  margin-right: 10px  
}

#tweets li {
  padding: 5px;
  color:#FFFFFF;
  border-bottom:1px solid #000000;
  border-top:1px solid #353434;
  line-height:150%;
}

#tweets li .timestamp {text-align:right;}

#tweets li.tweet_content_0 {
  border-top:0px none;
}
#tweets li:last-child{
  border-bottom:0px none; 
}

#tweets .hash { color:#FFF; } 
#tweets .reply { color:#FFF; } 
