@import "compass";
@import "compass/reset";

$color-blue : #1e527d;
$color-orange : #d35d00;
$color-grey : #f2edea;
$color-light-blue: #1f5380;
$color-medium-blue: #3f729f;

@font-face {
    font: {
       family: 'Ranger';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('ranger-webfont.eot', font);
    src: asset-url('ranger-webfont.eot', font) format('embedded-opentype'),
         asset-url('ranger-webfont.woff', font) format('woff'),
         asset-url('ranger-webfont.ttf', font) format('truetype'),
         asset-url('ranger-webfont.svg#JunctionRegular', font) format('svg')
}


body {
  background: image-url("bg.png");
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.created {
  @include pie-clearfix;

  img {
    display: block;
    margin: 0px auto 20px;
  }

  .text {
    color: $color-orange;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.brought {
  @include pie-clearfix;

  img {
    display: block;
    margin: 0px auto 5px;
  }

  .text {
    color: $color-orange;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.content {
  @include border-radius(10px);
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 3px);
  @include pie-clearfix;

  background: #ffffff;
  margin: 250px auto 0px;
  padding: 0px;
  width: 940px;
}

.followus {
  @include pie-clearfix;

  background-color: #fff;
  margin-bottom: 20px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 3px 80px;

  a {
    color: $color-blue;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    text-decoration: none;
  }

  img {
    float: left;
    margin-right: 8px;
  }

  span {
    color: $color-orange;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 6px;
    padding: 2px 0px;
  }
}

.intro {
  h1 {
    background: image-url("logo.png") no-repeat;
    display: block;
    height: 142px;
    margin: 0px auto 20px;
    text-indent: -9999px;
    width: 339px;
  }

  h2 {
    color: #1e527d;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.mailinglist {
  form {
    margin-bottom: 10px;

    input[type="text"] {
      @include border-radius(8px);
      @include box-shadow(rgba(0, 0, 0, 0.35) 0px 1px 2px inset);

      border: none;
      display: block;
      margin-left: 20px;
      padding: 10px 20px;
      width: 160px;
      float: left;
    }

    input[type="image"] {
      margin-top: -2px;
      padding-right: 10px;
      float: right;
    }
  }

  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.nextevent {
  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

.howitworks {
  h1 {
    color: $color-orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

.header {
  position: relative;
}

.header_logo {
  position: absolute;
  top:50px;
  left:479px;
  z-index:1;
}

.header_sun {
  position: absolute;
  top:110px;
  left:515px;
  z-index:2;
}

.menu_bar {
  position: absolute;
  top:226px;
  left:147px;
  z-index:0;
}
