// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .lesson-container {
    background-color: $color-grey;
    margin-bottom: 50px;
    width: 460px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 4px rgba(184, 162, 134, 0.84);
    -moz-box-shadow:    0px 3px 4px rgba(184, 162, 134, 0.84);
    box-shadow:         0px 3px 4px rgba(184, 162, 134, 0.84);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  h1.headline {
    color: $color-orange;
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Ranger', Helvetica, Arial, serif;
  }

  a {
    color: $color-orange;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    color: $color-light-blue;
  }