// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topics-table {
	width:100%;
	margin:15px 0 20px;
}
#topics-table th {
	font-weight: 600;
}

.post_form {
	margin:15px 0 20px;
}