<!DOCTYPE html>
<html>
<head>
  <title>Kids Code Camp - Teaching The Kids of Planet Earth To Code</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="jquery.tweetable.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
